.yap {
    display: flex;
    flex-direction: column;
    background-color: gray;   
    color: aqua; 
    align-items: center;  
    padding: 20px;        
}

.img {
    max-width: 50%;
    height: auto;
    display: block;       
    margin: 20px 0;       
}

.yamaro {
    font-size: large;
    font-weight: 800;
    color: red;
    text-align: center;   
    margin: 20px 0;       
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.list {
    border: 4px solid white;  
    padding: 20px;
    text-align: center;
}

/* link styling*/
.list a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
